<template>
    <q-modal position="top" no-backdrop-dismiss no-esc-dismiss v-model="modal" ref="itemModal"
             :content-css="{minWidth: '60vw', minHeight: '80vh'}">
        <q-modal-layout>
            <q-toolbar slot="header" color="primary">
                <q-btn @click.native="closeDialog()" color="red-9" style="padding: 0 15px;">
                    <q-icon name="close"></q-icon>
                    Close
                </q-btn>
                <q-toolbar-title center>
                    <h5 v-if="disabled">Reimbursement Detail</h5>
                    <h5 v-else>{{ !reimbursement.id ? 'Add' : 'Edit' }} Reimbursement Item</h5>
                </q-toolbar-title>
                <q-btn @click.native="onSave()" color="secondary" style="padding: 0 15px;">
                    <q-icon name="save"></q-icon>
                    Save
                </q-btn>
            </q-toolbar>

            <form ref="form">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5 v-if="this.vehicle" align="center" style="margin: 30px 0;">
                            {{ !reimbursement.id ? vehicle.desc : reimbursement.vehicle.desc }}
                        </h5>

                        <div class="col-lg-12">
                            <q-field
                                    :error="!!this.errors['reimbursement.supplier_name']"
                                    :error-label="this.errors['reimbursement.supplier_name'] ? this.errors['reimbursement.supplier_name'][0] : ''"
                            >
                                <q-input
                                        v-model="reimbursement.supplier_name"
                                        float-label="Supplier (Paid to)"
                                        :disabled="disabled"
                                >
                                    <q-autocomplete
                                            :static-data="{field: 'value', list: suppliers}"
                                    >
                                    </q-autocomplete>
                                </q-input>
                            </q-field>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <q-field
                                        :error="!!this.errors['reimbursement.amount']"
                                        :error-label="this.errors['reimbursement.amount'] ? this.errors['reimbursement.amount'][0] : ''"
                                >
                                    <q-input
                                            float-label="Amount"
                                            v-model="amount"
                                            prefix="$"
                                            required
                                            :disabled="disabled"
                                            @blur="formatAmount"
                                    ></q-input>
                                </q-field>
                            </div>
                            <div class="col-lg-7 offset-lg-1">
                                <q-field
                                        :error="!!this.errors['reimbursement.item_date']"
                                        :error-label="this.errors['reimbursement.item_date'] ? this.errors['reimbursement.item_date'][0] : ''"
                                >
                                    <q-datetime
                                            v-model="reimbursement.item_date"
                                            type="date"
                                            :display-value="reimbursement.item_date ? this.$moment(reimbursement.item_date).format('D MMM Y') : ''"
                                            float-label="Expense Date"
                                            :disabled="disabled"
                                    />
                                </q-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <q-field
                                        :error="!!this.errors['reimbursement.odometer']"
                                        :error-label="this.errors['reimbursement.odometer'] ? this.errors['reimbursement.odometer'][0] : ''"
                                >
                                    <q-input
                                            float-label="Odometer Reading"
                                            v-model="odometer"
                                            :disabled="disabled"
                                            @blur="formatOdometer"
                                    ></q-input>
                                </q-field>
                            </div>
                            <div class="col-lg-7 offset-lg-1">
                                <q-field
                                        :error="!!this.errors['reimbursement.cost_code_id']"
                                        :error-label="this.errors['reimbursement.cost_code_id'] ? this.errors['reimbursement.cost_code_id'][0] : ''"
                                >
                                    <q-select
                                            v-model="reimbursement.cost_code_id"
                                            float-label="Cost Category"
                                            :disabled="disabled"
                                            :options="cost_categories"
                                    >
                                    </q-select>
                                </q-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <!--<q-btn class="btn btn-primary upload-receipts-btn upload-btn"-->
                                <!--@click.native="selectUploadType">-->
                                <!--<span>Choose Upload Type</span>-->
                                <!--</q-btn>-->

                                <file-upload
                                        :multiple="true"
                                        :size="20 * 1024 * 1024"
                                        class="btn btn-primary upload-receipts-btn upload-btn"
                                        ref="upload"
                                        v-model="files"
                                        v-if="!disabled"
                                        style="margin: 15px 0; height: 50px; line-height: 40px;"
                                >
                            <span>
                            Upload Receipts
                            <q-icon name="cloud_upload"></q-icon>
                            </span>
                                </file-upload>
                                <!--<input ref="uploadFile" multiple type="file" title="files" capture="camera" accept="image/*" v-on:change="onFileChange">-->

                                <q-list style="margin: 0 0 30px 0" v-if="files.length || reimbursement.receipts.length">
                                    <q-item
                                            v-if="files.length"
                                            v-for="(file, index) in files"
                                            :key="index">
                                        <q-item-main>
                                            <q-item-tile>
                                                <q-icon name="attachment"></q-icon>
                                                {{ file.name }}
                                            </q-item-tile>
                                        </q-item-main>
                                        <q-item-side right>
                                            <q-btn icon="delete" round small
                                                   @click.native="deleteReceipt(file)">
                                            </q-btn>
                                        </q-item-side>
                                    </q-item>

                                    <q-item
                                            v-if="reimbursement.receipts.length"
                                            v-for="(receipt, index) in reimbursement.receipts"
                                            :key="index">
                                        <q-item-main>
                                            <q-item-tile>
                                                <q-icon name="attachment"></q-icon>
                                                {{ receipt.name }}
                                                <br>
                                                {{ receipt.created_at }}
                                            </q-item-tile>
                                        </q-item-main>
                                        <q-item-side right>
                                            <q-btn round small icon="file_download" v-if="receipt.path"
                                                   :href="'/api/customer-reimbursement/download-reimbursement-doc/' + receipt.id">
                                            </q-btn>
                                        </q-item-side>
                                        <q-item-side right>
                                            <q-btn icon="delete" small round color="red dark-4" v-if="!disabled"
                                                   @click.native="deleteReceipt(receipt)">
                                            </q-btn>
                                        </q-item-side>
                                    </q-item>

                                </q-list>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </q-modal-layout>
        <!--<choose-upload-type ref="chooseUploadType" :files.sync="files"></choose-upload-type>-->
    </q-modal>
</template>

<script>
  import swal from 'sweetalert2'
  import FileUpload from 'vue-upload-component'
  import axios from 'axios'
  // import ChooseUploadType from './ChooseUploadTypeDialog.vue'
  import {numberFormat} from '../../utils'

  var vueConfig = {
    components: {
      'file-upload': FileUpload
      // 'choose-upload-type': ChooseUploadType
    },
    data: function () {
      return {
        files: [],
        reimbursement: {
          id: null,
          vehicle_id: this.vehicle ? this.vehicle.vehicle_id : null,
          item_date: null,
          cost_code_id: null,
          amount: '',
          odometer: null,
          supplier_name: null,
          receipts: []
        },
        modal: false,
        notifications: false,
        sound: true,
        widgets: false,
        valid: false,
        errors: {},
        disabled: false,
        promise: {
          resolve: null,
          reject: null
        },
        amount: null,
        odometer: null
      }
    },
    props: ['vehicle', 'item'],
    watch: {
      vehicle: function () {
        this.reimbursement.vehicle_id = this.vehicle ? this.vehicle.vehicle_id : null
      },
      'reimbursement.amount': function () {
        if (this.reimbursement.amount) {
          this.amount = numberFormat(this.reimbursement.amount.toLocaleString())
        }
      },
      'reimbursement.odometer': function () {
        if (this.reimbursement.odometer) {
          this.odometer = numberFormat(this.reimbursement.odometer.toLocaleString())
        }
      }
    },
    computed: {
      suppliers: function () {
        return this.$store.state.suppliers
      },
      cost_categories: function () {
        return this.$store.state.cost_categories
      },
      reimbursements: function () {
        return this.$store.state.reimbursements
      }
    },
    methods: {
      formatAmount () {
        if (this.amount) {
          this.amount = numberFormat(this.amount)
          this.reimbursement.amount = this.amount.replace(/,/g, '')
        }
      },
      formatOdometer () {
        if (this.odometer) {
          this.odometer = numberFormat(this.odometer)
          this.reimbursement.odometer = this.odometer.replace(/,/g, '')
        }
      },
      // selectUploadType () {
      //   this.$refs.chooseUploadType.dialog = true
      // },
      onFileChange (e) {
        let cameraFiles = e.target.files || e.dataTransfer.files
        for (let i = 0; i < cameraFiles.length; i++) {
          let file = {
            id: Math.random(),
            file: cameraFiles[i],
            name: cameraFiles[i].name
          }
          this.files.push(file)
        }
      },
      readonly (item) {
        this.reimbursement = item
        this.disabled = true
        this.modal = true
      },
      show (item) {
        let vm = this
        vm.reimbursement = JSON.parse(JSON.stringify(item))
        vm.modal = true
        return new Promise((resolve) => {
          vm.promise.resolve = resolve
        }, (reject) => {

        })
      },
      addItem () {
        this.reimbursement = {
          id: null,
          vehicle_id: this.vehicle ? this.vehicle.vehicle_id : null,
          item_date: null,
          cost_code_id: null,
          amount: '',
          odometer: null,
          supplier_name: null,
          receipts: []
        }
        this.modal = true
      },
      closeDialog () {
        if (this.promise.resolve) {
          this.promise.resolve(this.reimbursement)
        }
        this.modal = false
        this.files = []
        this.errors = {}
        this.reimbursement = {
          id: null,
          vehicle_id: this.vehicle ? this.vehicle.vehicle_id : null,
          item_date: null,
          cost_code_id: null,
          amount: '',
          odometer: null,
          supplier_name: null,
          receipts: []
        }
        this.$refs.form.reset()
        this.reimbursement.item_date = null
      },
      onSave () {
        this.errors = {}

        axios.post('/api/customer-reimbursement/save-reimbursement',
          {
            'reimbursement': this.reimbursement
          }).then(response => {
          let data = response.data
          if (data.success) {
            data.reimbursement.vehicle.desc = data.reimbursement.vehicle.rego_id + ' - ' + data.reimbursement.vehicle.desc

            if (this.files.length > 0) {
              this.onUploading(data.reimbursement)
            }
            else {
              this.saved(data.reimbursement)
            }
          }
          else {
            swal({
              title: data.msg,
              type: 'error',
              confirmButtonText: 'Close'
            })
          }
        }).catch(response => {
          this.errors = response.response.data
        })
      },
      saved (reimbursement) {
        let vm = this
        if (this.reimbursement.id) {
          reimbursement.isSaved = true
          this.promise.resolve(reimbursement)
        }
        else {
          console.log(reimbursement)
          this.reimbursements.items.unshift(reimbursement)
        }
        swal({
          title: 'Reimbursement Saved Successfully',
          type: 'success'
        }).then((confirm) => {
          if (confirm) {
            vm.closeDialog(true)
          }
        })
      },
      onUploading (reimbursement) {
        let formData = new FormData()
        this.files.forEach((file) => {
          formData.append(file.id, file.file)
        })
        formData.append('reimbursement_id', reimbursement.id)

        axios.post('/api/customer-reimbursement/upload-doc', formData)
          .then((response) => {
            let data = response.data
            if (data.success) {
              this.saved(data.reimbursement)
            }
          })
      },
      deleteReceipt (receipt) {
        let self = this
        swal({
          title: 'Are you sure?',
          text: 'You will not be able to recover this reimbursement!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, keep it',
          confirmButtonColor: '#b71c1c',
          cancelButtonColor: 'green'
        }).then(function () {
          self.deleteReimbursementReceipt(receipt)
        }).catch((response) => {

        })
      },
      deleteReimbursementReceipt (receipt) {
        if (receipt.path) {
          axios.post('/api/customer-reimbursement/delete-reimbursement-doc', {doc: receipt}).then(response => {
            let data = response.data
            if (data.success) {
              this.reimbursement.receipts = data.receipts
            }
            else {
              swal({
                title: data.msg,
                type: 'error',
                confirmButtonText: 'Close'
              })
            }
          })
        }
        else {
          if (receipt.active) {
            this.$refs.upload.remove(receipt)
          }
          else {
            this.files.splice(this.files.indexOf(receipt), 1)
          }
        }
      }
    }
  }

  export default vueConfig
</script>

<style scoped>
    .attachment-container .list__tile {
        padding-left: 0 !important;
    }

    .upload-receipts-btn {
        width: 100%;
        margin: auto 0
    }

    .upload-btn {
        background: #607d8b !important;
        padding-top: 5px;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }

    .card__title--primary {
        display: block;
    }
</style>