<template>
    <div>
        <add-reimbursement-item-dialog
                :vehicle.sync="vehicle"
                ref="addItemDialog"
        ></add-reimbursement-item-dialog>
        <q-data-table
                :columns="columns"
                :data="items"
                v-model="selected"
                :config="config"
        >
            <template slot="col-receipts" slot-scope="cell">
                <span v-if="cell.row.receipts.length > 0">
                    <q-icon name="attachment" size="2em" color="grey-8"></q-icon>
                </span>
            </template>
            <template slot="col-action" slot-scope="cell">
                <q-btn round @click="editItem(cell.row)" outline color="teal" small icon="edit"></q-btn>
                <q-btn round @click="deleteItem(cell.row)" outline color="red-9" small icon="delete"></q-btn>
            </template>
        </q-data-table>
        <q-btn outline class="block full-width" style="margin-top: 5px;" color="teal" :disabled="show_more"
               @click="showMore">
            {{ show_more ? 'No More Reimbursements' : 'Show More Reimbursements' }}
        </q-btn>
    </div>
</template>

<script>
  // import Vue from 'vue'
  import AddReimbursementItemDialog from './AddReimbursementItemDialog'
  import swal from 'sweetalert2'
  import moment from 'moment'
  import axios from 'axios'

  var vueConfig = {
    data: function () {
      return {
        selected: [],
        config: {
          selection: 'multiple',
          rowHeight: '57px',
          responsive: true
        },
        columns: [
          {
            label: 'Amount',
            type: 'number',
            sort: false,
            field: 'amount'
          },
          {
            label: 'Cost Category',
            sort: false,
            field: 'cost_category',
            format: function (val) {
              return val.description
            }
          },
          {
            label: 'Expense Date',
            sort: false,
            field: 'item_date',
            format: function (val) {
              return moment(val).format('D MMM Y')
            }
          },
          {
            label: 'Vehicle',
            sort: false,
            field: 'vehicle',
            width: '200px',
            format: function (val) {
              return val.desc
            }
          },
          {
            label: 'Supplier (Paid to)',
            sort: false,
            field: 'supplier',
            format: function (val) {
              if (val) {
                return val.name
              }
              return ''
            }
          },
          {
            label: 'Odometer Reading',
            sort: false,
            field: 'odometer',
            format: function (val) {
              return parseInt(val).toLocaleString()
            }
          },
          {
            label: 'Receipts',
            sort: false,
            field: 'receipts'
          },
          {
            label: 'Action',
            sort: false,
            field: 'action'
          }
        ]
      }
    },
    watch: {
      selected: function (val) {
        this.$emit('update:selected_count', val.length)
      },
      items: function () {
        if (this.items.length < 1 && this.$store.state.reimbursements.total !== 0) {
          this.$store.dispatch('loadReimbursements', this.loadDataConfig)
        }
      }
    },
    mounted: function () {
      this.$store.dispatch('loadReimbursements', this.loadDataConfig)
    },
    components: {
      'add-reimbursement-item-dialog': AddReimbursementItemDialog
    },
    computed: {
      items: function () {
        return this.$store.state.reimbursements.items
      },
      show_more: function () {
        return this.$store.state.reimbursements.total === this.items.length
      },
      vehicles: function () {
        return this.$store.state.vehicles
      }
    },
    props: ['vehicle', 'loadDataConfig'],
    methods: {
      deleteReimbursement (item) {
        let index = item.__index
        console.log(item, index)
        axios.post('/api/customer-reimbursement/delete-reimbursement', {
          reimbursement_id: item.id
        }).then(response => {
          let data = response.data
          if (data.success) {
            this.items.splice(index, 1)
            swal(
              'Deleted!',
              'Your imaginary file has been deleted.',
              'success'
            )
          }
          else {
            swal({
              title: data.msg,
              type: 'error',
              confirmButtonText: 'Close'
            })
          }
        })
      },
      deleteItem (item) {
        let self = this
        swal({
          title: 'Are you sure?',
          text: 'You will not be able to recover this file!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, keep it',
          confirmButtonColor: '#b71c1c',
          cancelButtonColor: 'green'
        }).then(function () {
          self.deleteReimbursement(item)
        }, () => {

        })
      },
      editItem: function (item) {
        this.$refs.addItemDialog.show(item).then((res) => {
          if (res.isSaved) {
            for (let name in item) {
              if (item.hasOwnProperty(name) && res.hasOwnProperty(name)) {
                item[name] = res[name]
              }
            }
            console.log(item)
          }
          item['receipts'] = res['receipts']
        })
      },
      addItem () {
        this.$refs.addItemDialog.addItem()
      },
      showMore () {
        let config = JSON.parse(JSON.stringify(this.loadDataConfig))
        config.append = true
        this.$store.dispatch('loadReimbursements', config)
      },
      submit () {
        let ids = []
        let self = this
        if (this.selected.length > 0) {
          this.selected.forEach((item) => {
            ids.push(item.id)
          })
          axios.post('/api/customer-reimbursement/submit-reimbursement',
            {
              reimbursements: ids
            }).then((response) => {
            let data = response.json()
            if (data.success) {
              let index = 0
              self.selected.forEach((item) => {
                index = self.items.indexOf(item)
                self.items.splice(index, 1)
              })
              this.selected = []
            }
          })
        }
      }
    }
  }

  export default vueConfig
</script>

<style scoped>
    .datatable.table .cost-category {
        max-width: 200px;
        word-wrap: break-word;
    }
</style>