<template>
    <div>
        <q-card>
            <q-card-main>
                <div class="row">
                    <div class="col-sm-12 col-md-5 col-lg-4">
                        <q-select
                                :options="vehicles"
                                v-model="vehicle_id"
                                float-label="Select Vehicle"
                        >
                        </q-select>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8 col-xs-12">
                        <div class="row">
                            <div class="col-lg-4 offset-lg-1">
                                <q-datetime
                                        type="date"
                                        v-model="loadDataConfig.date_from"
                                        :display-value="loadDataConfig.date_from ? this.$moment(loadDataConfig.date_from).format('dddd, D MMM YYYY') : ''"
                                        format="YYYY-M-D"
                                        float-label="Date From"
                                ></q-datetime>
                            </div>
                            <div class="date-range-arrow">
                                <q-icon name="trending_flat"></q-icon>
                            </div>
                            <div class="col-lg-4">
                                <q-datetime
                                        type="date"
                                        v-model="loadDataConfig.date_end"
                                        :display-value="loadDataConfig.date_end ? this.$moment(loadDataConfig.date_end).format('dddd, D MMM YYYY') : ''"
                                        format="YYYY-M-D"
                                        float-label="Date To"
                                >
                                </q-datetime>
                            </div>
                            <div class="reset-btn">
                                <q-btn color="primary" @click="resetFilter()">Reset</q-btn>
                            </div>
                        </div>
                    </div>
                </div>
            </q-card-main>
        </q-card>

        <div class="btn-container">
            <q-btn outline color="teal" slot="activator" @click="addItem">Add Item</q-btn>
            <q-btn outline color="indigo" slot="activator" @click="submitItems" :disabled="selected_count < 1">
                Submit ({{ selected_count }})
            </q-btn>
        </div>

        <q-card>
            <!--Waiting for Submit table-->
            <waiting-for-submit-table
                    :vehicle.sync="vehicle"
                    ref="waitingToSubmitTable"
                    :selected_count.sync="selected_count"
                    :load-data-config.sync="loadDataConfig"
            ></waiting-for-submit-table>
            <!--Waiting for Submit table end-->
        </q-card>

        <!--<mobile-bottom-action-bar></mobile-bottom-action-bar>-->
    </div>


    <!--<change-vehicle-dialog-->
    <!--:vehicle.sync="vehicle"-->
    <!--ref="changeVehicleDialog"-->
    <!--&gt;</change-vehicle-dialog>-->


</template>

<script>
  import waitingToSubmitTable from './InnoWaitingToSubmitTable'
  // import MobileBottomActionBar from './MobileBottomActionBar.vue'
  // import ChangeVehicleDialog from './ChangeVehicleDialog.vue'

  var vueConfig = {
    data: function () {
      return {
        loadDataConfig: {
          vehicle_id: this.vehicle_id,
          type: 'STATUS_PENDING',
          date_from: null,
          date_end: null,
          size: 3,
          offset: 0,
          append: false
        },
        vehicle: null,
        vehicle_id: this.vehicle ? this.vehicle.vehicle_id : null,
        selected_count: 0
      }
    },
    components: {
      'waiting-for-submit-table': waitingToSubmitTable
      // 'mobile-bottom-action-bar': MobileBottomActionBar,
      // 'change-vehicle-dialog': ChangeVehicleDialog
    },
    mounted: function () {
      this.$store.dispatch('loadSuppliers')
      this.$store.dispatch('loadCostCategories')
    },
    watch: {
      vehicle: function (val, oldValue) {
        this.loadDataConfig.vehicle_id = val.vehicle_id
        this.vehicle_id = val.vehicle_id
        if (oldValue && val !== oldValue) {
          this.$store.dispatch('loadReimbursements', this.loadDataConfig)
        }
      },
      'loadDataConfig.date_from': function () {
        this.$store.dispatch('loadReimbursements', this.loadDataConfig)
      },
      'loadDataConfig.date_end': function () {
        this.$store.dispatch('loadReimbursements', this.loadDataConfig)
      }
    },
    computed: {
      vehicles: function () {
        let vehicles = this.$store.state.vehicles
        if (vehicles.length > 0) {
          this.vehicle = vehicles[0]
        }
        return vehicles
      }
    },
    methods: {
      resetFilter () {
        this.loadDataConfig.date_from = null
        this.loadDataConfig.date_end = null
      },
      addItem () {
        if (this.vehicles.length > 1 && this.vehicle.vehicle_id === 'all') {
          this.$refs.changeVehicleDialog.change_dialog = true
        }
        else {
          this.$refs.waitingToSubmitTable.addItem()
        }
      },
      submitItems () {
        this.$refs.waitingToSubmitTable.submit()
      }
    }
  }

  export default vueConfig
</script>

<style scoped>
    .date-range-arrow .q-icon {
        width: 100%;
        line-height: 66px;
        text-align: center;
        padding: 0 15px;
    }

    .reset-btn {
        margin-left: 8px;
        margin-top: 20px;
    }

    .btn-container {
        padding: 0 8px;
    }
</style>