<template>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <q-tabs light v-model="activeTab">
                <q-tab name="waiting_to_submit" label="Waiting to Submit" slot="title"/>
                <q-tab name="submitted" label="Submitted" slot="title"/>

                <q-tab-pane name="waiting_to_submit">
                    <inno-waiting-to-submit ref="innoWaitingToSubmit"></inno-waiting-to-submit>
                </q-tab-pane>
                <!--<q-tabs-items>-->
                <!--<inno-submited-content ref="innoSubmitedContent"></inno-submited-content>-->
                <!--</q-tabs-items>-->
            </q-tabs>
        </div>
    </div>
</template>

<script>
  import InnoWaitingToSubmit from './InnoWaitingToSubmit'
  // import InnoSubmitedContent from './InnoSubmitedContent.vue'

  export default {
    name: 'ReimbursementList',
    data () {
      return {
        activeTab: 'waiting_to_submit'
      }
    },
    components: {
      'inno-waiting-to-submit': InnoWaitingToSubmit
      // 'inno-submited-content': InnoSubmitedContent
    },
    watch: {
      activeTab: function (val) {
        if (val === 'submitted') {
          // this.$refs.innoSubmited.loadItems()
        }
      }
    },
    mounted: function () {
      this.$store.dispatch('loadVehicles')
    }
  }
</script>

<style scoped>
    .date-filter-range {
        margin-top: 18px;
    }
</style>