<template>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="app-icon">
                <a href="#/reimbursements">
                    <div class="app-icon-img-container">
                        <img class="app-icon-img" src="../statics/app-icon/reimbursement-icon.png"
                             alt="Reimbursements">
                    </div>
                    <span class="app-icon-text">Reimbursements</span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="app-icon">
                <a href="#/odometers">
                    <div class="app-icon-img-container">
                        <img class="app-icon-img" src="../statics/app-icon/odometer-icon.png"
                             alt="Odometers">
                    </div>
                    <span class="app-icon-text">Odometers</span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="app-icon">
                <a href="#/new-lease">
                    <div class="app-icon-img-container">
                        <img class="app-icon-img" src="../statics/app-icon/new_lease-icon.png"
                             alt="New Lease">
                    </div>
                    <span class="app-icon-text">New Lease</span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="app-icon">
                <a href="#/edit-profile">
                    <div class="app-icon-img-container">
                        <img class="app-icon-img" src="../statics/app-icon/edit_profile-icon.png"
                             alt="Edit Profile">
                    </div>
                    <span class="app-icon-text">Edit Profile</span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="app-icon">
                <a href="#/contact-us">
                    <div class="app-icon-img-container">
                        <img class="app-icon-img" src="../statics/app-icon/contact_us-icon.png"
                             alt="Contact Us">
                    </div>
                    <span class="app-icon-text">Contact Us</span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
  var vueConfig = {
    name: 'Home',
    data () {
      return {}
    }
  }

  export default vueConfig
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .app-icon {
        height: 140px;
        width: 140px;
        display: block;
        position: relative;
        margin: 0 auto;
    }

    .app-icon .app-icon-img-container {
        width: 70px;
        height: 60px;
        display: block;
        position: relative;
        margin: 0 auto;
        margin-top: 25px;
    }

    .app-icon .app-icon-img-container .app-icon-img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .app-icon .app-icon-text {
        width: 100%;
        display: block;
        text-align: center;
        line-height: 40px;
    }

    .app-icon a {
        text-decoration: none;
        color: #333333;
    }
</style>
