<template>
    <!-- Don't drop "q-app" class -->
    <div id="q-app">
        <q-layout ref="layout" view="hHr LpR Fff">
            <q-toolbar slot="header" color="light">
                <!-- toggles QLayout left side -->
                <q-btn
                        flat
                        @click="$refs.layout.toggleLeft()"
                        color="primary"
                >
                    <q-icon name="menu"/>
                </q-btn>

                <q-toolbar-title>
                    <a href="#/">
                        <img class="innovated-logo" src="statics/quote_logo.png" alt="Innovated Leasing">
                    </a>
                </q-toolbar-title>

                <q-btn flat color="primary">
                    <q-icon name="apps"/>
                </q-btn>

                <q-btn flat color="primary">
                    <q-icon name="refresh"/>
                </q-btn>
            </q-toolbar>

            <div slot="left">
                <q-list separator>
                    <q-item>
                        <q-item-side avatar="statics/default-avatar.png"/>
                        <q-item-main>
                            <q-item-tile label>
                                <small>Welcome,</small>
                                <br> {{ user ? user.full_name : 'Visitor' }}
                            </q-item-tile>
                        </q-item-main>
                    </q-item>
                </q-list>

                <q-side-link item to="/" exact>
                    <q-item-side icon="apps"></q-item-side>
                    <q-item-main label="Home"/>
                </q-side-link>
                <q-side-link item to="/test-layout/toolbar">
                    <q-item-side icon="power_settings_new"></q-item-side>
                    <q-item-main label="Logout"/>
                </q-side-link>
            </div>
            <router-view/>
        </q-layout>

    </div>
</template>

<script>
  /*
   * Root component
   */
  import { Loading } from 'quasar'

  export default {
    data () {
      return {}
    },
    mounted: function () {
      this.$store.dispatch('loadUser')
    },
    computed: {
      user: function () {
        return this.$store.state.user
      },
      loading: function () {
        return this.$store.state.loading
      }
    },
    watch: {
      'loading': function (val) {
        if (val > 0) {
          Loading.show()
        }
        else {
          Loading.hide()
        }
      }
    }
  }
</script>

<style>
    .q-loading {
        z-index: 9999;
    }
    .swal2-container {
        z-index: 9998 !important;
    }
</style>
